.karla {
    font-family: "karla", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-size: 35px;
    font-style: normal;
    color: black;
  }

.karla-H1 {
    font-family: "karla", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 50px;
    font-style: normal;
    text-align: center;
    color: pink;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

  a {
    color: inherit;
    text-decoration: none;
    }

      a:hover {
        color: pink;
      }
      
      a:active {
        color: olive;
      }

li, nav {
    display:inline;
    text-align: center;
    padding: 10px 15px;
    float: right;
}

.banner {
    padding 60px;
    text-align: center;
    background-color: rosybrown;
    font-size: 30px;
    position: relative;
    height: 150px;
}

#logo {
    height: 150px;
    width: 150px;
    float: left;
    position: relative;
    left: 100px;
}

.mission-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background: url(../images/cake-4.jpg) center/cover no-repeat;
}

.mission-img-text {
  color: white;
  font-size: 25px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(221, 136, 136, 0.65);
  text-align: center;
  border-radius: 60px;
}

#mission-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

main, H1 {
  background-image: url(../images/coral-background-img.png);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  margin: 0;
}

.karla-H2 {
  font-family: "karla", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  color: pink;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.description-page-karla {
  font-family: "karla", serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  padding: 10px 20px;
  text-shadow: 4px 4px 8px rgba(227, 184, 54, 0.5);
  background-color: rgba(130, 139, 98, 0.6); 
  opacity: 85%;
  text-align: center;
  border-radius: 60px;
}

.karla-H3, H3 {
  font-family: "karla", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  color: #acb09e;
  text-shadow: 2px 2px 4px rgba(227, 184, 54, 0.5);
  padding: 20px;
}

.paragraph-font-playfair, p {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  font-size: 17.5px;
}

#explanation {
  font-weight: bold;
  margin: auto;
  text-shadow: 2px 2px 4px rgba(221, 136, 136, 0.65);
  width: 500px;
  height: 300px;
}

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
  padding: 20px;
  border-radius: 20%;
  background-color: rgba(221, 136, 136, 0.65);  
  border-radius: 60px;
}

.footer-logo {
  height: 150px;
  width: 150px;
  position: relative;
  left: 1300px;
  margin: auto;
  bottom: 70px;
}

footer {
  background-color: rosybrown;
  height: 175px;
}

.email, .phone {
  position: relative;
  left: 400px;
  top: 50px;
  text-shadow: 2px 2px 4px rgba(227, 184, 54, 0.5);
}

.bakery-img {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
  padding: 20px;
  border-radius: 20%;
  background-color: rgba(221, 136, 136, 0.65);  
  border-radius: 60px;
}

th, td, table {
  border: 5px solid rosybrown;
  text-align: center;
  width: auto;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

th, td {
  padding: 5px;
  text-align: left;
  font-size: 18px;
  border-style: outset;
}

th {
  background-color: rgba(227, 184, 54, 0.5);
  font-size: 18px;
}

td {
  background-color: #acb09ea5;
}

body {
  overflow-x: hidden;
}